# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/
pids/
*.pid
*.seed
*.pid.lock

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Output
dist/
build/
